<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   contacs.sqlite.plist
   DataManagementWorkshop

   Created by student on 27/4/16.
   Copyright (c) 2016 NguyenTrung. All rights reserved.
-->
<plist version="1.0">
    <dict>
    
    </dict>
</plist>
